<mat-toolbar class="hero-toolbar">
  <div class="hero-mons-container left">
    <img
      class="hero-mon flip-sprite"
      src="https://img.pokemondb.net/sprites/home/normal/totodile.png"
      alt="Totodile"
    />
    <img
      class="hero-mon flip-sprite"
      src="https://img.pokemondb.net/sprites/home/normal/bulbasaur.png"
      alt="Bulbasaur"
    />
    <img
      class="hero-mon"
      src="https://img.pokemondb.net/sprites/home/normal/cyndaquil.png"
      alt="Cyndaquil"
    />
  </div>

  <span class="hero-title">Pokémon Database</span>

  <div class="hero-mons-container right">
    <img
      class="hero-mon"
      src="https://img.pokemondb.net/sprites/home/normal/charmander.png"
      alt="Charmander"
    />
    <img
      class="hero-mon"
      src="https://img.pokemondb.net/sprites/home/normal/squirtle.png"
      alt="Squirtle"
    />
    <img
      class="hero-mon"
      src="https://img.pokemondb.net/sprites/home/normal/pikachu.png"
      alt="Pikachu"
    />
  </div>
</mat-toolbar>

<mat-toolbar color="primary" class="nav-toolbar">
  <div class="nav-buttons">
    <button mat-button routerLink="/" (click)="scrollToTop()">Home</button>
    <button mat-button>Mechanics</button>
    <button mat-button>Pokedex</button>
  </div>

  <span class="spacer"></span>

  <div class="search-box">
    <mat-icon class="search-icon">search</mat-icon>
    <input
      type="text"
      placeholder="Search Pokémon..."
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      (click)="$event.stopPropagation()"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="goToPokemon($event.option.value)"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.name"
      >
        <span style="font-weight: 500">{{ option.name | titlecase }}</span>
        <span style="color: #999; font-size: 0.8rem; float: right"
          >#{{ option.id }}</span
        >
      </mat-option>
    </mat-autocomplete>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
